<article>
  <p>
    {{t 'opt.p1'}}
  </p>

  <ul>
    {{t 'opt.ul1'}}
  </ul>

  <p>
    {{t 'opt.p2'}}
  </p>

  <a href="assets/opt-foto.jpg" target="_blank">
    <img src="assets/opt-foto.jpg" width="250">
  </a>

  <p>
    {{t 'opt.p3'}}
  </p>

  <h2>{{t 'opt.references'}}</h2>
  <ol>
    {{t 'opt.ol1'}}
  </ol>
</article>
