<article>
  <img src="assets/option-logo.png" class="logo">
  <p>
    {{t 'option.p1'}}
  </p>
    <ul>
      {{t 'option.ul1'}}
      {{#if isNl}}
        <li>
          <a {{action 'openModal' 'example-option' }}>
            {{t 'option.li1'}}
          </a>
        </li>
      {{/if}}
    </ul>
  <p>
    {{t 'option.team'}}
  </p>
  <ul>
    {{t 'option.ul2'}}
  </ul>

    {{t 'option.contact'}}

  <ul>
    {{t 'option.ul3'}}
  </ul>
</article>
