<article>
  <img src="assets/option-logo.png" class="logo">
  <p>
    {{t 'option.p1'}}
  </p>

  {{#if isNl}}
    <ul>
      {{t 'option.information'}}
      <li>
        <a {{action 'openModal' 'example-option' }}>
          {{t 'option.li1'}}
        </a>
      </li>
    </ul>
    <ul>
      {{t 'option.nieuwsbrieven'}}
    </ul>
  {{/if}}

  <p>
    <ul>
      {{t 'option.publications'}}
    </ul>
  </p>
  <p>
    {{t 'option.team'}}
  </p>
  <ul>
    {{t 'option.ul2'}}
  </ul>

    {{t 'option.contact'}}

  <ul>
    {{t 'option.ul3'}}
  </ul>
</article>
